# Svensson (1994)



$$ r(t) = \beta_1 + \beta_2\frac{1-e^{-\lambda_1 t}}{\lambda_1 t} 
        + \beta_3 \left(\frac{1-e^{-\lambda_1 t}}{\lambda_1 t}-e^{-\lambda_1 t}\right)
        + \beta_4 \left(\frac{1-e^{-\lambda_2 t}}{\lambda_2 t}-e^{-\lambda_2 t}\right)$$

### Importing the data

In [1]:
from scipy.optimize import fmin
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from workadays import workdays as wd

path = r"C:\Users\Alysson\Documents\GitHub\Monetary-Shocks\Brasil\ETTJ\Base_LTN.xlsx"
path2 = r"C:\Users\Alysson\Documents\GitHub\Monetary-Shocks\Brasil\ETTJ\Parametros.xlsx"
df = pd.read_excel(path)
parameters = pd.read_excel(path2)

In [2]:
parameters.set_index("Data referÃªncia", inplace=True)
df["Maturity"] = df.apply(lambda row: wd.networkdays(row["DATA_REFERENCIA"], row["DATA_VENCIMENTO"]), axis=1)/252
df.set_index("DATA_REFERENCIA", inplace=True)

### Generating individuals

In [3]:
N =1200    ### Number of individuals 
p = int(2/3*N)      ## Proportion of individuals generated by method 1
var = 0.5

### 1 - Initial Values of the results of the estimation of the previous day

ref_date_str = "2023-07-27"
ref_date = datetime.strptime(ref_date_str, "%Y-%m-%d")
previous_date = ref_date - timedelta(days=1)
previous_parameters = parameters.loc[previous_date][1:]
beta_star = np.array([previous_parameters.replace(previous_parameters[1],previous_parameters[0])])
e_previous = beta_star.T*np.random.normal(0, var, size=(6, p))
beta_previous = beta_star.T + e_previous

### 2 - Approximation that takes into account the observed yield to maturity (ytm)

data_estimada = df.loc[ref_date_str]
data_estimada.sort_values("Maturity")
b1 = data_estimada["EXPECTATIVA"][0]/100
b2 = data_estimada["EXPECTATIVA"][-1]/100 - data_estimada["EXPECTATIVA"][0]/100
b3 = 0
b4 = 0
lbda1 = (data_estimada["Maturity"][-1]-data_estimada["Maturity"][0])/2
lbda2 = lbda1
beta_star = np.array([b1, b2, b3 , b4, lbda1, lbda2])[:, np.newaxis]
e_approx = beta_star*np.random.normal(0, var, size=(6, N-p))
beta_approx = beta_star + e_approx ## ajustar colunas

individuals = np.concatenate((beta_previous.T, beta_approx.T), axis=0)

### incluir restricoes nos betas e lambdas

### Selection

In [40]:
### add duration and coupons
values = []
for row in individuals:
    def myval(c):
        df['NSS'] =(c[0])+(c[1]*((1-np.exp(-df['Maturity']*c[4]))/(df['Maturity']*c[4])))+(c[2]*((((1-np.exp(-df['Maturity']*c[4]))/(df['Maturity']*c[4])))-(np.exp(-df['Maturity']*c[4]))))+(c[3]*((((1-np.exp(-df['Maturity']*c[5]))/(df['Maturity']*c[5])))-(np.exp(-df['Maturity']*c[5]))))
        df['Calculated_price'] = 1000 / (1 + df['NSS']) ** df['Maturity'] 
        df['Residual'] =  (df['PU'] - df['Calculated_price'])**2
        val = np.sum(df['Residual'])
        return(val)
    
    val = myval(row)
    values.append((val, row)) 
sol = pd.DataFrame(values, columns=['Calculated Value', "Parameters"])

selection = sol.sort_values('Calculated Value')[0:480]

In [41]:
selection.head()

     Calculated Value                                         Parameters
658        149.709675  [0.0987588826192993, 0.04354731176487228, 0.08...
763        157.340804  [0.11122763077508793, 0.07659783954926039, 0.0...
280        173.688229  [0.10741478360640666, 0.01589824989213083, 0.0...
690        293.192894  [0.10238666860554857, 0.08835941044541509, 0.0...
701        339.324728  [0.09956412626212145, 0.15327243966656542, -0....

### Cross-Over

In [121]:
alpha = 6
next_gen = []

for num in range(N):
    psi = np.random.uniform(0, 1)
    theta_r = selection.iloc[(np.random.beta(1,alpha, 1)*480).astype(int)]["Parameters"].values
    theta_s = selection.iloc[(np.random.beta(1,alpha, 1)*480).astype(int)]["Parameters"].values
    next_gen.append(psi*theta_r+(1-psi)*theta_s)
next_gen = pd.DataFrame(next_gen, columns=["Parameters"])

In [123]:
next_gen.head()

                                          Parameters
0  [0.12335873417562901, 0.03389820037814426, 0.0...
1  [0.10249255313068588, -0.018228099601329806, 0...
2  [0.10825615080262645, 0.0787309744314466, 0.02...
3  [0.11276164876064484, -0.010018809071806278, 0...
4  [0.10454590712889844, -0.012204070676311936, 0...

### Mutation