# Svensson (1994)



$$ r(t) = \beta_1 + \beta_2\frac{1-e^{-\lambda_1 t}}{\lambda_1 t} 
        + \beta_3 \left(\frac{1-e^{-\lambda_1 t}}{\lambda_1 t}-e^{-\lambda_1 t}\right)
        + \beta_4 \left(\frac{1-e^{-\lambda_2 t}}{\lambda_2 t}-e^{-\lambda_2 t}\right)$$

### Importing the data

In [300]:
from scipy.optimize import fmin
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import datetime as dt
from workadays import workdays as wd

path = r"C:\Users\Alysson\Documents\GitHub\Monetary-Shocks\Brasil\ETTJ\Base_LTN.xlsx"
path2 = r"C:\Users\Alysson\Documents\GitHub\Monetary-Shocks\Brasil\ETTJ\Parametros.xlsx"
df = pd.read_excel(path)
parameters = pd.read_excel(path2)

In [301]:
parameters.set_index("Data referÃªncia", inplace=True)

### Maturity Calculation

df["Maturity"] = df.apply(lambda row: wd.networkdays(row["DATA_REFERENCIA"], row["DATA_VENCIMENTO"]), axis=1)/252
df.set_index("DATA_REFERENCIA", inplace=True)

### Duration Calculation

cpn = 0
yld = df["EXPECTATIVA"]
m = 1
n = df["Maturity"]

df["Macaulay_duration"] = ((1+yld) / (m*yld)) - ( (1 + yld + n*(cpn-yld)) / ((m*cpn* ((1+yld)**n - 1)) + m*yld) )

In [302]:
df.head()

,CODIGO,DATA_VENCIMENTO,EXPECTATIVA,PU,Maturity,Macaulay_duration
DATA_REFERENCIA,,,,,,
2023-07-03,LTN,2023-10-01,13.2025,968.996662,0.250000,0.250000
2023-07-03,LTN,2024-01-01,12.7468,942.225059,0.492063,0.492063
2023-07-03,LTN,2024-04-01,12.1642,918.761537,0.738095,0.738095
2023-07-03,LTN,2024-07-01,11.5298,897.786879,0.988095,0.988095
2023-07-03,LTN,2024-10-01,11.0232,877.471104,1.250000,1.250000

### Generating individuals

In [303]:
N =1200             ### Number of individuals 
p = int(2/3*N)      ### Proportion of individuals generated by method 1
var = 0.5           ### variance normal distribution

### 1 - Initial Values of the results of the estimation of the previous day

ref_date_str = "2023-07-11"
ref_date = datetime.strptime(ref_date_str, "%Y-%m-%d")
previous_date = ref_date - timedelta(days=1)
previous_parameters = parameters.loc[previous_date][1:]
beta_star_1 = np.array([previous_parameters.replace(previous_parameters[1],previous_parameters[0])])
e_previous = beta_star_1.T*np.random.normal(0, var, size=(6, p))
beta_previous = beta_star_1.T + e_previous

### 2 - Approximation that takes into account the observed yield to maturity (ytm)

data_estimada = df.loc[ref_date_str]
data_estimada.sort_values("Maturity")
b1 = data_estimada["EXPECTATIVA"][0]/100
b2 = data_estimada["EXPECTATIVA"][-1]/100 - data_estimada["EXPECTATIVA"][0]/100
b3 = 0
b4 = 0
lbda1 = (data_estimada["Maturity"][-1]-data_estimada["Maturity"][0])/2
lbda2 = lbda1
beta_star_2 = np.array([b1, b2, b3 , b4, lbda1, lbda2])[:, np.newaxis]
e_approx = beta_star_2*np.random.normal(0, var, size=(6, N-p))
beta_approx = beta_star_2 + e_approx ## ajustar colunas

### Adding constraints to the parameters

def update (betas,beta_star):
    updated_value = []
    for index, parameter in enumerate(betas):
        if parameter[0]<0:
            betas[index][0] = beta_star[0]+ beta_star[0]*np.random.normal(0, var)
            updated_value.append(betas[index][0]<0)
        if (parameter[0]+parameter[1])<0:
            betas[index][1] = beta_star[1]+ beta_star[1]*np.random.normal(0, var)
            updated_value.append((betas[index][0]+betas[index][1])<0)
        if parameter[4]<0:
            betas[index][4] = beta_star[4]+ beta_star[4]*np.random.normal(0, var)
            updated_value.append(betas[index][4]<0)
        if parameter[5]<0:
            betas[index][5] = beta_star[5]+ beta_star[5]*np.random.normal(0, var)
            updated_value.append(betas[index][5]<0)
    if sum(updated_value) != 0:
        update(betas,beta_star)
    return(beta_previous.T)

update(beta_previous.T,beta_star_1.T)
update(beta_approx,beta_star_2)

individuals = np.concatenate((beta_previous.T, beta_approx.T), axis=0)

### Selection

In [307]:
### add duration and coupons
alpha = 6
var = 0.5
pi = 0.35
### 40% of the individuals survive
s = int(0.4 * N)

for interation in range(1):

    values = []
    
    for row in individuals:
        def myval(c):
            df['NSS'] =(c[0])+(c[1]*((1-np.exp(-df['Maturity']*c[4]))/(df['Maturity']*c[4])))+(c[2]*((((1-np.exp(-df['Maturity']*c[4]))/(df['Maturity']*c[4])))-(np.exp(-df['Maturity']*c[4]))))+(c[3]*((((1-np.exp(-df['Maturity']*c[5]))/(df['Maturity']*c[5])))-(np.exp(-df['Maturity']*c[5]))))
            df['Calculated_price'] = 1000 / (1 + df['NSS']) ** df['Maturity'] 
            df['Residual'] =  (df['PU'] - df['Calculated_price'])**2*(1/df["Macaulay_duration"]**0.5)
            val = np.sum(df['Residual'])
            return(val)
    
        val = myval(row)
        values.append((val, row)) 
    sol = pd.DataFrame(values, columns=['SC', "Parameters"]).sort_values('SC')

    selection = sol.sort_values('SC')[0:s]


    next_gen = []
    e_mutation = []

    for num in range(N):
        psi = np.random.uniform(0, 1)
        theta_r = np.concatenate(selection.iloc[(np.random.beta(1,alpha, 1)*s),:]["Parameters"].values)
        theta_s = np.concatenate(selection.iloc[(np.random.beta(1,alpha, 1)*s),:]["Parameters"].values)
        next_gen.append(psi*theta_r+(1-psi)*theta_s)
        e = np.random.normal(0, var, 6)*np.random.choice([0, 1], size=6, p=[1 - pi, pi])
        e_mutation.append(e)

    individuals = np.array(next_gen) + np.array(next_gen)*np.array(e_mutation)

selection.head()

             SC                                         Parameters
126  441.683129  [0.11882069566100371, 0.029162950216071057, 0....
944  500.315543  [0.10830782806501695, 0.042711396687265146, 0....
521  584.878660  [0.11664102260477995, 0.027735705650727964, 0....
19   611.711106  [0.12136121266040864, 0.010670941224628945, 0....
72   648.537833  [0.10753818208335165, 0.03456568782391257, 0.0...

In [286]:

dic[f"{ref_date_str}"]=selection.iloc[0]

In [287]:
curves = pd.DataFrame(dic)
curves

,2023-07-04,2023-07-05,2023-07-06,2023-07-07,2023-07-11
SC,393.65247,389.51223,364.003539,375.312602,338.801317
Parameters,"[0.11124874896977963, 0.03260632779837819, 0.0...","[0.11297029616575885, 0.03271907967899865, 0.0...","[0.11461252921180823, 0.029120549396655992, 0....","[0.1131436990105141, 0.02634365940452725, 0.08...","[0.11433183587778599, 0.011508465453702686, 0...."

In [297]:
rounded_series = selection["Parameters"].apply(lambda lst: [round(x, 3) for x in lst])
rounded_series[0:99]

1096     [0.114, 0.012, 0.095, -0.099, 3.02, 1.274]
143      [0.114, 0.014, 0.093, -0.098, 3.095, 1.28]
724     [0.114, 0.011, 0.095, -0.096, 3.142, 1.273]
403     [0.114, 0.011, 0.095, -0.096, 3.142, 1.275]
63      [0.114, 0.012, 0.094, -0.096, 3.158, 1.275]
                           ...
1123    [0.114, 0.017, 0.094, -0.096, 3.365, 1.285]
293     [0.114, 0.012, 0.097, -0.097, 3.259, 1.268]
489     [0.114, 0.014, 0.095, -0.097, 3.143, 1.268]
759     [0.114, 0.014, 0.095, -0.096, 3.155, 1.279]
301     [0.115, 0.006, 0.097, -0.095, 3.139, 1.284]
Name: Parameters, Length: 99, dtype: object

In [298]:
rounded_series[0:99].apply(lambda x: x == rounded_series.iloc[0]).all()

False

In [290]:
np.round(selection["SC"][0:99], decimals = 0)

1096    339.0
143     340.0
724     341.0
403     341.0
63      341.0
        ...
1123    400.0
293     402.0
489     404.0
759     415.0
301     422.0
Name: SC, Length: 99, dtype: float64